<div class="container text-center">
  <%= image_tag("gabriel-profile-image.jpg", :class => "rounded-circle", :alt => "Profile Picture")%>
  <h1>Gabriel Giroe</h1>
  <p>Software developer, using Ruby on Rails to bring joy. Let's chat!</p>
  <div> Projects</div>
</div>