<div class="h-screen w-full bg-cover bg-center bg-no-repeat bg-fixed flex flex-col justify-end" style="background-image: url('<%= asset_path("gabriel-profile-image.jpg") %>');">
  <%= render "partial_home"%>
  <%= link_to "personal project", "pages/projects"%>
</div>